{% liquid 
    assign nav_menu = linklists[section.settings.nav_menu.handle]
%}

<div>
    <div id="mobile-header"class="text-[#272727] bg-white shadow-sp pt-5 pb-4 mb-10 ds:hidden">
        <div class="mx-5">
            <div class="flex justify-between items-center">
                <a href="#">
                    {% render 'icons', icon: 'burger' %}
                </a>
                <a href="#" title="Orange Insoles">
                    {% render 'icons', icon: 'logo' %}
                </a>
                <a href="#">
                    {% render 'icons', icon: 'cart' %}
                </a>
            </div>
        </div>
    </div>
    
    <div class="hidden z-10 text-[#272727] bg-white shadow-sp mb-10 ds:block">
        <div class="flex justify-between items-center gap-[20px] relative divide-x-2 divide-[#BBBBBB] py-[36px] ds:mx-9 dm:mx-auto dm:max-w-screen-dm dm:px-10 dl:px-4">
            <div class="flex justify-between items-center gap-[40px]">
                <div class="m-auto dm:max-w-screen-dm">
                    {% if nav_menu != blank %}
                        <ul class="flex justify-evenly gap-[20px]">
                            {% for link in nav_menu.links %}
                            {% if forloop.index <= 3 %}
                                <li>
                                <div class="group peer">
                                    <a class="flex items-center gap-2 text-[18px] font-bold" href="{{ link.url }}">
                                        {{ link.title }}
                                        {% if link.links.size > 0 %}
                                            <span class="transition-all duration-300 ease-in-out group-hover:rotate-180">{% render 'icons', icon: 'dropdown' %}</span> 
                                        {% endif %}
                                    </a>
                                    {% if link.links.size > 0 %}
                                        <div class="absolute z-20 -left-px font-bold transition-all duration-300 ease-in-out invisible opacity-0 group-hover:visible group-hover:opacity-100 rounded-b-3xl overflow-hidden w-[100%]">
                                            <div class="grid grid-cols-5 gap-10 bg-white rounded-b-3xl py-8 px-20">
                                                {% for sublink in link.links %}
                                                    <a href="{{ sublink.url }}" title="{{ sublink.title }}"><p class="text-[#272727] text-[20px]">{{ sublink.title }}</p></a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <a href="#" title="Orange Insoles">
                    {% render 'icons', icon: 'logo' %}
                </a>
                <div class="relative m-auto dm:max-w-screen-dm">
                    {% if nav_menu != blank %}
                        <ul class="flex justify-evenly gap-[20px]">
                            {% for link in nav_menu.links %}
                            {% if forloop.index > 3 %}
                                <li>
                                <div class="group peer">
                                    <a class="flex items-center gap-2 text-[18px] font-bold" href="{{ link.url }}">
                                        {{ link.title }}
                                        {% if link.links.size > 0 %}
                                            <span class="transition-all duration-300 ease-in-out group-hover:rotate-180">{% render 'icons', icon: 'dropdown' %}</span> 
                                        {% endif %}
                                    </a>
                                    {% if link.links.size > 0 %}
                                        <div class="absolute z-20 -left-px font-bold transition-all duration-300 ease-in-out invisible opacity-0 group-hover:visible group-hover:opacity-100 rounded-b-3xl overflow-hidden w-[100%]">
                                            <div class="grid grid-cols-5 gap-10 bg-white rounded-b-3xl py-8 px-20">
                                                {% for sublink in link.links %}
                                                    <a href="{{ sublink.url }}" title="{{ sublink.title }}"><p class="text-primary text-[20px]">{{ sublink.title }}</p></a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="flex justify-between items-center gap-[20px] pl-[20px]">
                <a href="#">
                    {% render 'icons', icon: 'user' %}
                </a>
                <a href="#">
                    {% render 'icons', icon: 'cart' %}
                </a>
                <a href="#">
                    {% render 'icons', icon: 'burger' %}
                </a>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
    "name": "Navigation Menu",
    "class": "sticky top-0 z-50",
    "settings": [
        {
            "type": "link_list",
            "id": "nav_menu",
            "label": "Navigation Menu"
        }
    ],
    "presets": [
        {
        "name": "Navigation Menu"
        }
    ]
}
{% endschema %}