{{ 'collage.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="color-{{ section.settings.color_scheme }} gradient isolate">
  <div class="page-width{% if section.settings.heading == blank %} no-heading{% endif %} section-{{ section.id }}-padding">
    <h2 class="title inline-richtext {{ section.settings.heading_size }}">{{ section.settings.heading }}</h2>
    <div class="grid">
      <div class="grid--2-col">
        <div class="grid__item">
          <img src="https://cdn.shopify.com/s/files/1/1288/8431/files/Group_119.png?v=1677537638" width="500">
        </div>
        <div class="grid__item">
          <div class="supporting_image">
            <img src="https://cdn.shopify.com/s/files/1/1288/8431/files/Group_119.png?v=1677537638" height="250">
          </div>
          <div class="supporting_image">
            <img src="https://cdn.shopify.com/s/files/1/1288/8431/files/Group_119.png?v=1677537638" height="250">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Product Selector Grid",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      },
      {
        "type": "select",
        "id": "color_scheme",
        "options": [
          {
            "value": "accent-1",
            "label": "t:sections.all.colors.accent_1.label"
          },
          {
            "value": "accent-2",
            "label": "t:sections.all.colors.accent_2.label"
          },
          {
            "value": "background-1",
            "label": "t:sections.all.colors.background_1.label"
          },
          {
            "value": "background-2",
            "label": "t:sections.all.colors.background_2.label"
          },
          {
            "value": "inverse",
            "label": "t:sections.all.colors.inverse.label"
          }
        ],
        "default": "background-1",
        "label": "t:sections.all.colors.label",
        "info": "t:sections.all.colors.has_cards_info"
      },
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "t.sections.collage.settings.heading.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      }
    ],
    "blocks": [
      {
        "type": "featured_image",
        "name": "t:sections.collage.blocks.image.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "featured_image",
            "label": "t:sections.collage.blocks.image.settings.image.label"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Where to Link"
          }
        ]
      },
      {
        "type": "top_image",
        "name": "Top Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "top_image",
            "label": "Top Image"
          },
          {
            "type": "url",
            "id": "top_image_link",
            "label": "Top Image Link"
          }
        ]
      },
      {
        "type": "bottom_image",
        "name": "Bottom Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "bottom_image",
            "label": "Bottom Image"
          },
          {
            "type": "url",
            "id": "bottom_image_link",
            "label": "Bottom Image Link"
          }
        ]
      }
    ],
    "max_blocks": 3,
    "presets": [
      {
        "name": "Orange Product Selector",
        "blocks": [
          {
            "type": "featured_image"
          },
          {
            "type": "top_image"
          },
          {
            "type": "bottom_image"
          }
        ]
      }
    ]
  }
{% endschema %}