{% liquid 
    assign headline = section.settings.headline
    assign sub = section.settings.sub
    assign button = section.settings.button
    assign url = section.settings.button_url
    assign image = section.settings.image
 %}

<div class="mb-16 ds:mb-32">
    <div class="relative overflow-hidden h-[200px] ts:h-[215px] ds:h-[355px]">
        <div class="ds:mx-9 dm:max-w-screen-dm dm:mx-auto dm:px-10 dl:px-0">
            <div class="flex flex-col absolute z-10 w-8/12 mt-10 px-5 ts:mt-[3.75rem] ds:w-4/12 ds:mt-20 ds:px-0">
                <div class="font-bold text-[30px] text-[#272727] tracking-tighter leading-none mb-4 ts:text-[45px] ds:text-[60px]">{{ headline }}</div>
                <div class="text-[12px] text-[#4E4E4E] mb-6 ts:text-[18px] ds:text-[24px]">{{ sub }}</div>
                <a href="{{ url }}" title="{{ url.title }}" class="flex items-center justify-center font-bold text-[10px] text-center text-white bg-[#E68A3F] rounded-2xl w-[120px] px-10 py-4 ts:text-[15px] ts:w-[145px] ds:text-[20px] ds:w-[170px]">{{ button }}</a>
            </div>
        </div>
        <img class="absolute -right-20 object-cover w-full h-full ts:-right-[7.5rem] ds:-right-40 ds:w-8/12" src="{{ image | image_url }}" alt="{{ image.alt }}" title="{{ image.title }}" loading="lazy">
    </div>
</div>


{% schema %}
{
    "name": "Image With Text Quiz",
    "settings": [
        {
            "type": "text",
            "id": "headline",
            "label": "Headline"
        },
        {
            "type": "text",
            "id": "sub",
            "label": "Subheadline"
        },
        {
            "type": "text",
            "id": "button",
            "label": "Link Text"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "Link URL"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Image With Text Quiz"
        }
    ]
}
{% endschema %}