{% liquid 
    assign align = section.settings.text_align
    assign title = section.settings.title
    assign sub = section.settings.sub
    assign image = section.settings.image
%}

<div class="mx-5 mb-20 dm:max-w-screen-dm dm:mx-auto dm:px-10 ds:mx-9 ds:mb-40 dl:px-0">
    <div class="text-{{ align }} w-full mb-14 ds:mb-28">
        <h2 class="font-bold text-[30px] text-[#272727] max-w-[480px] mb-4 ts:text-[45px] ds:text-[60px]">{{ title }}</h2>
        <div class="text-[12px] text-[#4E4E4E] max-w-[480px] ts:text-[18px] ds:text-[24px]">{{ sub }}</div>
    </div>
    <img class="w-full" src="{{ image | image_url }}" alt="{{ image.alt }}" title="{{ image.title}}">
</div>


{% schema %}
{
    "name": "What Makes Tech Better",
    "settings": [
        {
            "type": "select",
            "id": "text_align",
            "label": "Text Alignment",
            "options": [
                {
                "value": "left",
                "label": "Left"
                },
                {
                "value": "center",
                "label": "Center"
                },
                {
                "value": "right",
                "label": "Right"
                }
            ],
            "default": "left"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "sub",
            "label": "Subheader"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "presets": [
        {
        "name": "What Makes Tech Better"
        }
    ]
}
{% endschema %}