<div class="mb-16 mx-5 dm:max-w-screen-dm dm:mx-auto dm:px-10 ds:mx-9 ds:mb-32 dl:px-0">
    <div class="grid grid-rows-3 gap-4 h-[650px] ts:grid-cols-2 ts:grid-rows-2 ds:grid-cols-5 ds:h-[500px]">
        {% for block in section.blocks %}
            {% liquid  
                assign image = block.settings.image
                assign title = block.settings.title
                assign description = block.settings.description
                assign url = block.settings.product.url
            %}
            {% if forloop.index == 1 %}
                <div class="relative bg-black rounded-3xl px-5 py-6 ts:col-span-2 ds:row-span-2 ds:col-span-3 ds:px-10 ds:py-12">
                    <div class="absolute z-10 w-8/12 ds:w-1/2">
                        <a href="{{ url }}" title="{{ url.title }}"><h2 class="font-bold text-[30px] text-white ts:text-[40px] ds:text-[50px]">{{ title }}</h2></a>
                        <p class="text-[10px] text-white mb-5 ts:text-[14px] ds:text-[18px]">{{ description }}</p>
                        <a href="{{ url }}" title="{{ url.title }}" class="font-medium text-[14px] text-white ts:text-[18px] ds:text-[22px]">Buy Now →</a>
                    </div>
                    <a href="{{ url }}"><img class="absolute right-0 top-0 object-cover rounded-3xl h-full ds:right-14 ds:top-auto ds:h-[450px]" src="{{ image | image_url }}" title="{{ image.title }}" alt="{{ image.alt }}" loading="lazy"></a>
                </div>             
            {% elsif forloop.index >= 2 %}
                <div class="relative bg-black rounded-3xl px-5 py-6 ds:px-9 ds:py-10 ds:col-span-2">
                    <div class="absolute z-10 w-8/12">
                        <a href="{{ url }}" title="{{ url.title }}"><h2 class="font-bold text-[30px] text-white ts:text-[40px] ds:text-[35px]">{{ title }}</h2></a>
                        <p class="text-[10px] text-white mb-6 ts:text-[14px] ds:text-[17px]">{{ description }}</p>
                        <a href="{{ url }}" title="{{ url.title }}" class="font-medium text-[14px] text-[#E68A3F] ts:text-[18px] ds:text-[22px]">Buy Now →</a>
                    </div>
                    <a href="{{ url }}" title="{{ url.title }}"><img class="absolute right-0 top-0 object-cover rounded-3xl h-full" src="{{ image | image_url }}" title="{{ image.title }}" alt="{{ image.alt }}" loading="lazy"></a>
                </div>   
            {% endif %}
        {% endfor %}
    </div>
</div>


{% schema %}
{
    "name": "Product Selector",
    "settings": [
    ],
    "max_blocks": 3,
    "blocks": [
        {
            "name": "Product",
            "type": "product",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Product Selector"
        }
    ]
}
{% endschema %}