<div class="mb-32 mx-5 dm:max-w-screen-dm dm:mx-auto dm:px-10 ds:mx-9 dl:px-0">
    <div class="grid grid-rows-3 gap-4 h-[650px] ts:grid-cols-4 ts:grid-rows-2 ts:h-[950px] ds:grid-cols-5 ds:h-[500px]">
        {% for block in section.blocks %}
            {% liquid  
                assign image = block.settings.product.featured_image
                assign title = block.settings.product.title
                assign description = block.settings.product.description
                assign url = block.settings.product.url
            %}
            {% if forloop.index == 1 %}
                <div class="relative bg-black rounded-3xl px-10 py-12 ts:col-span-4 ds:row-span-2 ds:col-span-3">
                    <div class="absolute z-10 w-8/12 ds:w-1/2">
                        <a href="{{ url }}" title="{{ url.title }}"><h2 class="font-bold text-[50px] text-white">{{ title }}</h2></a>
                        <p class="text-[18px] text-white mb-5">{{ description }}</p>
                        <a href="{{ url }}" title="{{ url.title }}" class="font-medium text-[22px] text-white">Buy Now →</a>
                    </div>
                    <a href="{{ url }}"><img class="absolute right-0 top-0 object-cover rounded-3xl h-full ds:right-14 ds:top-auto ds:h-[450px]" src="{{ image | image_url }}" title="{{ image.title }}" alt="{{ image.alt }}" loading="lazy"></a>
                </div>             
            {% elsif forloop.index >= 2 %}
                <div class="relative bg-black rounded-3xl px-9 py-10 ts:col-span-2">
                    <div class="absolute z-10 w-8/12">
                        <a href="{{ url }}" title="{{ url.title }}"><h2 class="font-bold text-[35px] text-white">{{ title }}</h2></a>
                        <p class="text-[17px] text-white mb-6">{{ description }}</p>
                        <a href="{{ url }}" title="{{ url.title }}" class="font-medium text-[22px] text-[#E68A3F]">Buy Now →</a>
                    </div>
                    <a href="{{ url }}" title="{{ url.title }}"><img class="absolute right-0 top-0 object-cover rounded-3xl h-full" src="{{ image | image_url }}" title="{{ image.title }}" alt="{{ image.alt }}" loading="lazy"></a>
                </div>   
            {% endif %}
        {% endfor %}
    </div>
</div>


{% schema %}
{
    "name": "Product Selector",
    "settings": [
    ],
    "max_blocks": 3,
    "blocks": [
        {
            "name": "Product",
            "type": "product",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Product Selector"
        }
    ]
}
{% endschema %}