<div class="mb-10 mx-5 dm:max-w-screen-dm dm:mx-auto dm:px-10 ds:mx-9 dl:px-0">
    <div class="grid grid-rows-2 grid-cols-5 gap-4 h-[500px]">
        {% for block in section.blocks %}
            {% liquid  
                assign image = block.settings.product.featured_image
                assign title = block.settings.product.title
                assign description = block.settings.product.description
                assign url = block.settings.product.url
            %}
            {% if forloop.index == 1 %}
                <div class="row-span-2 col-span-3 relative bg-black rounded-2xl px-9 py-10">
                    <div class="absolute z-10 w-1/2">
                        <a href="{{ url }}" title="{{ title }}"><h2 class="font-bold text-[50px] text-white">{{ title }}</h2></a>
                        <p class="text-[18px] text-white mb-5">{{ description }}</p>
                        <a href="{{ url }}" title="{{ title }}" class="font-medium text-[22px] text-white">Buy Now →</a>
                    </div>
                    <a href="{{ url }}"><img class="object-cover rounded-2xl w-4/6 h-full" src="{{ image | image_url }}" title="{{ title }}" alt="{{ image.alt }}" loading="lazy"></a>
                </div>             
            {% elsif forloop.index >= 2 %}
                <div class="col-span-2 relative group bg-black rounded-2xl">
                    <a href="{{ url }}" title="{{ title }}"><h2 class="absolute top-4 left-4 font-extrabold text-3xl text-white text-shadow pr-4 mm:text-4xl ds:top-6 ds:left-6 ds:group-hover:text-[40px]">{{ title }}</h2></a>
                    <a href="{{ url }}" title="{{ title }}" class="button-blur absolute bottom-4 right-4 shadow-sp ds:bottom-6 ds:right-6">VIEW ALL</a>
                    <a href="{{ url }}"><picture>
                        <source media="(min-width: 868px)" srcset="{{ image | image_url: width: 630 }}">
                        <source media="(min-width: 768px)" srcset="{{ image | image_url: width: 830 }}">
                        <source media="(min-width: 480px)" srcset="{{ image | image_url: width: 730 }}">
                        <img class="object-cover rounded-cl w-full h-full" src="{{ image | image_url: width: 440 }}" title="{{ title }}" alt="{{ image.alt }}" loading="lazy">                        
                    </picture></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>


{% schema %}
{
    "name": "Product Selector",
    "settings": [
    ],
    "max_blocks": 3,
    "blocks": [
        {
            "name": "Product",
            "type": "product",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Product Selector"
        }
    ]
}
{% endschema %}