{% liquid 
    assign background = section.settings.background
    assign first = section.settings.first
    assign second = section.settings.second
    assign description = section.settings.description
    assign button = section.settings.button
    assign url = section.settings.button_url
    assign logo = section.settings.logo
 %}

<div class="mb-60">
    <div class="relative h-[500px] mm:h-[570px] ds:h-[600px]">
        <div class="flex flex-col gap-2 absolute w-7/12 ds:mx-9 dm:max-w-screen-dm dm:mx-auto dm:px-10 dl:px-0">
            <div class="font-bold text-[125px]">
                <div class="text-[#272727] tracking-tighter leading-none">Feel better.</div>
                <div class="text-[#E68A3F] tracking-tighter leading-none">Do more!</div>
            </div>
            <a href="{{ url }}" title="{{ title }}" class="self-center">{{ button }}</a>
        </div>
        <img class="absolute right-0 object-cover w-7/12 h-full" src="{{ background | image_url }}" alt="{{ background.alt }}" title="{{ background.title }}" loading="lazy">
    </div>
</div>


{% schema %}
{
    "name": "Offer banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "background",
            "label": "Background"
        },
        {
            "type": "text",
            "id": "first",
            "label": "First Title"
        },
        {
            "type": "text",
            "id": "second",
            "label": "Second Title"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "text",
            "id": "button",
            "label": "Button"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        }
    ],
    "presets": [
        {
            "name": "Offer banner"
        }
    ]
}
{% endschema %}